<section>

  <div class="container">

    <div class="row">

      <div
        class="col-3 d-flex justify-content-center border border-2 rounded-3 offset-5"
      >
        <h2>EDIT PRODUCT</h2>
      </div>

    </div>
    <div class="row mt-4 p-5">
      <div
        class="col-3 border border-2 rounded-3 p-5 bg-danger bg-gradient offset-5"
      >
        <form action="/admin/edit-products/{{product._id}}" enctype="multipart/form-data" method='POST'>

          <label for="">NAME</label>
          <input class="mt-1 text-center" value={{product.name}} type="text" name="name" placeholder="NAME" />

          <label for="">Category</label>
          <input class="mt-1 text-center" type="text" value={{product.category}} name="category" placeholder="Category" />

          <label for="">Description</label>
          <input
            class="mt-1 text-center"
            type="text"
            placeholder="Description" name="description" value={{product.description}}
          />
         
          <img src="/product-images/{{product._id}}.jpg" alt="img" width="150px" height="auto" style="margin-top: 10px; margin-left:10px;" id="imageview">
          <input class="mt-1 text-center" type="file" name="image" placeholder="Image"  onchange="displayImage(event)"  />

          <button
            class="form-control mt-4 text-center btn btn-dark text-white"
            type="submit"
          >SUBMIT</button>

        </form>
      </div>
    </div>
  </div>
</section>


<script>

    function displayImage(event){

        document.getElementById("imageview").src =  URL.createObjectURL(event.target.files[0]);
    }
</script>